.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.contentContainer {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.editItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0 8px 12px;
}
.itemType {
  flex: 0 0 80px;
}
.itemValue {
  flex: 1 1 auto;
}
.itemAreaValue {
  flex: 1 1 auto;
  height: 4.5em;
  line-height: 1.5;
}
.btnUpdate {
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: 22px;
}
.pathFragment {
  color: #333;
  &:hover {
    color: #999;
    cursor: pointer;
  }
}
.artistCover {
  @s: 120px;
  width: @s;
  height: @s;
  object-fit: contain;
}