.navibar{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 38px;
}
.icBack {
  transform: rotate(90deg);
  @s: 38px;
  width: @s;
  height: @s;
}
.backBtn {
  flex: 0 0 72px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: default;
  font-size: 15px;
  transition: all .5s;
  &:hover {
    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      height: 1px;
      @w: 55%;
      width: @w;
      left: 102% - @w;
      background-color: #ccc;
      transition: all .5s;
    }
  }
}
.title {
  flex: 4 1 auto;
  line-height: 38px;
  margin: 0 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .3s;
}
.rightNode {
  flex: 0 0 72px;
}
