.audioRef {
    width: 0;
    height: 0;
    position: absolute;
    top: -999px;
    left: -999px;
}
.fullContainer {
    height: 200px;

    .progressContainer {
        position: relative;
        width: 100%;
        height: 2px;
        background: #ccc;
        margin: 12px 0;
        &::before {
            content: '';
            position: absolute;
            @s: 14px;
            height: @s;
            left: 0;
            width: 100%;
            top: -@s * 0.5;
        }
        &:hover {
            .progressDot {
                width: 7px;
                height: 7px;
                top: -3px;
            }
        }
        .progress {
            position: absolute;
            left: 0;
            top: 0;
            height: 2px;
            background-color: rgb(192, 62, 62);
        }
        .progressDot {
            position: absolute;
            top: -2px;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            transition: all .2s;
            background-color: rgb(192, 62, 62);
        }
    }

    .volumeContainer {
        width: 80%;
        height: 4px;
        background-color: #666;
        margin: 12px 0;
        border-radius: 2px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            @s: 14px;
            height: @s;
            left: 0;
            width: 100%;
            top: -@s * 0.5;
        }
        .volumeProgress {
            position: absolute;
            left: 0;
            top: 0;
            height: 4px;
            background-color: rgb(192, 62, 62);
        }
        .volumeDot {
            position: absolute;
            top: -2px;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: rgb(192, 62, 62);
        }
    }
}

.miniContainer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 8px;
    .cover {
        @s: 32px;
        width: @s;
        height: @s;
        margin-right: 8px;
    }
    .oprations {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    @ic_ops: 32px;
    .icOperation {
        width: @ic_ops;
        height: @ic_ops;
        align-self: center;
        margin-left: 4px;
    }
    .icPause {
        @s: 26px;
        width: @s;
        height: @s;
        margin: 0 (@ic_ops - @s)*0.5;
    }
    .icNext {
        @s: 26px;
        width: @s;
        height: @s;
        margin: 0 (@ic_ops - @s)*0.5;
    }
    .infoText {
        flex: 1;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5;
    }
    .progressContainer {
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width: 100%;
        background: #ccc;
    }
    .progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        background-color: rgb(192, 62, 62);
    }
}
