.audioRef {
    width: 0;
    height: 0;
    position: absolute;
    top: -999px;
    left: -999px;
}
.fullContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    .fullCover {
        @s: 180px;
        width: @s;
        height: @s;
        margin-bottom: 62px;
        border-radius: 12px;
    }
    .fullContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .fullTitle {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .fullArtist {
            font-size: 18px;
            color: #999;
        }
    }
    .progressContainer {
        @s: 4px;
        @dotS: 8px;
        position: relative;
        width: 80%;
        height: @s;
        background: #ccc;
        margin: 12px 0;
        border-radius: 2px;
        &::before {
            @moreS: 12px;
            content: '';
            position: absolute;
            height: @s + @moreS;
            left: 0;
            width: 100%;
            top: -@moreS * 0.5;
        }
        &:hover {
            .progressDot {
                width: @dotS + 4;
                height: @dotS + 4;
                top: -(@dotS - @s + 4) * 0.5;
                border-radius: (@dotS + 4) * 0.5;
            }
        }
        .progress {
            position: absolute;
            left: 0;
            top: 0;
            height: @s;
            border-radius: @s * 0.5;
            background-color: rgb(192, 62, 62);
        }
        .progressDot {
            position: absolute;
            top: -(@dotS - @s) * 0.5;
            width: @dotS;
            height: @dotS;
            border-radius: @dotS * 0.5;
            transition: all .2s;
            background-color: rgb(192, 62, 62);
        }
    }

    .controlBtns {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        .btnCommon(@s: 40px;) {
            width: @s;
            height: @s;
            margin: 0 10px;
        }
        .btnNext {
            .btnCommon();
        }
        .btnPrev {
            .btnCommon();
            transform: rotate(180deg);
        }
        .btnPause {
            .btnCommon();
        }
        .btnPlay {
            .btnCommon(46);
            margin: 0 7px;
        }
    }

    .volumeContainer {
        width: 80%;
        height: 4px;
        background-color: #666;
        margin: 12px 0;
        border-radius: 2px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            @s: 14px;
            height: @s;
            left: 0;
            width: 100%;
            top: -@s * 0.5;
        }
        .volumeProgress {
            position: absolute;
            left: 0;
            top: 0;
            height: 4px;
            background-color: rgb(192, 62, 62);
        }
        .volumeDot {
            position: absolute;
            top: -2px;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: rgb(192, 62, 62);
        }
    }
}

.miniContainer {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 8px;
    .cover {
        @s: 32px;
        width: @s;
        height: @s;
        margin-right: 8px;
    }
    .oprations {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    @ic_ops: 32px;
    @ic_ml: 12px;
    .icOperation {
        width: @ic_ops;
        height: @ic_ops;
        align-self: center;
        margin: 0 @ic_ml;
    }
    .icPause {
        @s: 26px;
        width: @s;
        height: @s;
        margin: 0 (@ic_ops - @s)*0.5+@ic_ml;
    }
    .icNext {
        @s: 26px;
        width: @s;
        height: @s;
        margin: 0 (@ic_ops - @s)*0.5+@ic_ml;
    }
    .infoText {
        flex: 1;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5;
    }
    .progressContainer {
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width: 100%;
        background: #ccc;
    }
    .progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        background-color: rgb(192, 62, 62);
    }
}
