.root {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
}
.pages-content-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background: rgba(0,0,0,.1);
    transition: .1s all;
}
/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0, .05);
}

.page-full-player {
    width: 100%;
}
@media screen and (min-width: 900px) {
    .root {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }
    .pages-content-container {
        flex-basis: 60%;
    }
    .pages-full-nav {
        box-shadow: 0 -1px 10px #ccc;
    }
    .page-full-player {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex: 1 0 40%;
        box-shadow: -1px 0 5px #ccc;
    }
}